In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("hotel_booking.csv")

In [3]:
stack=[]
for i in df.columns:
    stack.append(i.upper())
    
df.columns=stack

In [98]:

df=df.drop([ 'ARRIVAL_DATE_WEEK_NUMBER',
       'ARRIVAL_DATE_DAY_OF_MONTH', 'STAYS_IN_WEEKEND_NIGHTS',
       'STAYS_IN_WEEK_NIGHTS','DEPOSIT_TYPE', 'AGENT',
       'COMPANY',
       'REQUIRED_CAR_PARKING_SPACES', 'TOTAL_OF_SPECIAL_REQUESTS'],axis=1)

In [5]:

df=df.drop(['NAME', 'EMAIL', 'PHONE-NUMBER',
       'CREDIT_CARD'],axis=1)

In [6]:

df=df.drop([ 'DAYS_IN_WAITING_LIST', 'CUSTOMER_TYPE', 'RESERVATION_STATUS',
       'RESERVATION_STATUS_DATE'],axis=1)

In [14]:

df=df.drop(['ARRIVAL_DATE_WEEK_NUMBER',
       'ARRIVAL_DATE_DAY_OF_MONTH', 'STAYS_IN_WEEKEND_NIGHTS',
       'STAYS_IN_WEEK_NIGHTS','AGENT',
       'COMPANY','REQUIRED_CAR_PARKING_SPACES',
       'TOTAL_OF_SPECIAL_REQUESTS'],axis=1)

In [16]:
data=df.copy()

In [11]:
data["CHILDREN"].value_counts()

CHILDREN
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: count, dtype: int64

In [10]:
df["CHILDREN"].fillna(0,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7580\2044673603.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CHILDREN"].fillna(0,inplace=True)

In [18]:
df.duplicated().value_counts()

False    79869
True     39521
Name: count, dtype: int64

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
data=df.copy()

In [51]:
type(data["CHILDREN"][0])

numpy.float64

In [52]:
data["CHILDREN"]=data["CHILDREN"].astype(int)

In [50]:
data=df.copy()

In [57]:
data["CHILDREN"].value_counts()

CHILDREN
0     71641
1      4619
2      3534
3        74
10        1
Name: count, dtype: int64

In [66]:
data["AVG_EARNED_PER_DAY"]=data["ADR"]

In [67]:
data.drop("ADR",axis=1)

,HOTEL,IS_CANCELED,LEAD_TIME,ARRIVAL_DATE_YEAR,ARRIVAL_DATE_MONTH,ADULTS,CHILDREN,BABIES,IS_REPEATED_GUEST,PREVIOUS_CANCELLATIONS,PREVIOUS_BOOKINGS_NOT_CANCELED,RESERVED_ROOM_TYPE,ASSIGNED_ROOM_TYPE,BOOKING_CHANGES,DEPOSIT_TYPE,AVG_EARNED_PER_DAY
0,Resort Hotel,0,342,2015,July,2,0,0,0,0,0,C,C,3,No Deposit,0.00
1,Resort Hotel,0,737,2015,July,2,0,0,0,0,0,C,C,4,No Deposit,0.00
2,Resort Hotel,0,7,2015,July,1,0,0,0,0,0,A,C,0,No Deposit,75.00
3,Resort Hotel,0,13,2015,July,1,0,0,0,0,0,A,A,0,No Deposit,75.00
4,Resort Hotel,0,14,2015,July,2,0,0,0,0,0,A,A,0,No Deposit,98.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,2,0,0,0,0,0,A,A,0,No Deposit,96.14
119386,City Hotel,0,102,2017,August,3,0,0,0,0,0,E,E,0,No Deposit,225.43
119387,City Hotel,0,34,2017,August,2,0,0,0,0,0,D,D,0,No Deposit,157.71
119388,City Hotel,0,109,2017,August,2,0,0,0,0,0,A,A,0,No Deposit,104.40
119389,City Hotel,0,205,2017,August,2,0,0,0,0,0,A,A,0,No Deposit,151.20

In [76]:
df=df.drop("DEPOSIT_TYPE",axis=1)

In [80]:
df.to_excel("clean.xlsx",index=False)
print("saved successfully")

saved successfully